html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}
h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}
.layout__header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 4rem;
  width: 100%;
  background: linear-gradient(
      90deg,
      rgba(236, 240, 243, 0.4),
      rgba(244, 251, 251, 0.4)
    ),
    linear-gradient(180deg, rgba(244, 251, 251, 0.5), rgba(244, 251, 251, 0));
  backdrop-filter: blur(8px);
}
.layout__header-logo {
  h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}
.layout__header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  li {
    margin-inline: 1rem;
    font-size: 1.2rem;
    font-weight: 5 00;
  }
}
